<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<div><h3>Discussion and feedback</h3></div>
<div id="comment"></div>
<script>
    var valine = new Valine();
    valine.init({
        el:'#comment',
        appId:'J30EGpsqhOYTOJFnXnLLaTr4-gzGzoHsz',
        appKey:'aHe6A1vXiwn7Sb7AI0YdhHzf',
        notify:true,
        path: '{{ page.url }}',
        placeholder:'Say something~',
        avator:'wavatar',
        meta:['nick','mail'],
        visitor: true
    })
</script>
