<!DOCTYPE html>
<html lang="en">
  <script type="text/javascript" src="/assets/js/love_click.js"></script>
  <!-- <script type="text/javascript" src="/assets/js/sky.js"></script> -->
  <!-- <script type="text/javascript" src='js/jquery.warpdrive.min.js'></script> -->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
  
  {% include head.html %}

  <body>

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
